*{
	padding:0;
	margin:0;
}
ul{
	padding-left: 30px;
	list-style-type: none;
	width: 100%;
	border-top: 1px solid #ccc;
}
li a{
	float: left;	
	padding-left: 15px;
	display: block;
	text-align: center;
	text-decoration: none;
}
.search{
	float: right;
	padding-right: 30px;
}
.getaccess{
	height:80px;
	background-color: #4fc7c6;
	border: 1px solid #808080;
	margin-top: 25px;
	margin-bottom: 15px;
}
.accessform{
}
.accesstext{
	padding-top: 15px;
}
.buttonnav {
    background-color: #FF6375;
    border: 1px;
    color: white;
    padding: 11px 16px;
    text-decoration: bold;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 4px;
    float: left;
}


.buttonnav:hover {
	background-color: #FF495F;
	box-shadow: 0px 8px 6px -7px #ccc;
}
.bb{
	background-color: #4fc7c6;
}
.ll{
	padding-top: 20px;
	float: left;
	width:20%;
}
.rr{
	float: right;
	width: 40%;
	height: 100px;
	font-size: 20px;
	padding-left: 340px;
	padding-top: 17px;
}
.cen{
	padding-left: 250px;
	display: block;
	float: left;
	width: 30%;
}
.header{
	width: 100%;
	height: 80px;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	background-color: white;
}
.searchbutton{
	float: right;	 
}
.belnav{
	border-top:1px solid #ccc;
	padding-top: 10px;
}
.row_1{
	height: 150px;
	width: 100%;
	padding-top: 10px;
}
.tv_picture1{
	float: left;
	width: 30%;
	margin-left: 20px;
	margin-right: 20px;
}
.tv_picture2{
	float: left;
	width: 30%;
	margin-left: 20px;
	margin-right: 20px;
}
.tv_picture3{
	float: left;
	width: 30%;
	margin-left: 20px;
	margin-right: 20px;
}
.sizefil{
	padding-top: 5px;
	padding-left: 250px;
	float: left;
	text-align: center;
	text-decoration: none;
}
.filtertypes{
	border-top: 1px solid #ccc;
	margin-top: 30px;
	height: 40px;
	text-align: center;
	text-decoration: none;
}
.brandfil{
	padding-top: 5px;
	padding-right: 350px;
	float: right;
	text-align: center;
	text-decoration: none;
}
.buttons{	
	text-align: center;
	text-decoration: none;
	height:80px;
	border-bottom: 1px solid #ccc;
}
.sizebuttons{
	padding-left: 183px;
	float: left;
}
.brandbuttons{
	padding-right: 275px;
	float: right;
}
.categorieslist{
	padding-top: 13px;
}
figcaption{
	display: block;
}
.buytvrow{
	margin-top: 50px;
	height:200px;
	width: 100%;
	margin-bottom: 50px;
	background-color: white;
}
.row11{
	margin-left: 30px;
	width: 20%;
	float: left;
}

.row12{
	margin-left: 30px;
	margin-right: 30px;
	width: 20%;
	float: left;
}

.row13{
	margin-left: 30px;
	margin-right: 30px;
	width: 20%;
float: left;
}

.row14{
	margin-left: 30px;
	width: 20%;
float: left;
}

.footer{
	padding-top: 30px;
	margin-top: 30px;
	margin-bottom: 50px;
	border-top: 1px solid #808080;	
}
.footerbutton1{
	background-color: #FF6375;
    border: 1px;
    color: white;
    padding: 11px 16px;
    text-decoration: bold;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 4px;
    margin-left:500px;
}
.toolbar{
	padding-left: 30px;
	padding-right: 30px;
}
.bodycontainer{
	padding-left: 30px;
	padding-right: 30px;
}
.filterbutton{
	background-color: #FF6375;
    border: 1px;
    color: white;
    padding: 11px 16px;
    text-decoration: bold;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 4px;	
}